

.input {
  & :global(.mia-platform-input-group-addon) {
    border-color: var(--palette-action-secondary-bold, #CDCDCD) !important;
    border-width: 1px !important;
    box-shadow: none !important;
  }

  & :global(.mia-platform-input-group-addon) {
    border-color: var(--palette-action-secondary-bold, #CDCDCD) !important;
    border-width: 1px !important;
    box-shadow: none !important;
  }
  &:global(.mia-platform-input-group-wrapper-disabled) :global(.mia-platform-input-group-addon)  {
    border-color: var(--palette-action-disabled-bold, #E5E5E5) !important;
    color: var(--palette-text-neutral-subtler, #ACACAC) !important;
  }

  &:global(.mia-platform-input-group-wrapper) :global(.mia-platform-input-group-addon):has(.inputAddonCheckbox) {
    background-color: var(--palette-action-seconary-main, #FFFFFF) !important;
  }
  &:global(.mia-platform-input-group-wrapper-disabled) :global(.mia-platform-input-group-addon):has(.inputAddonCheckbox) {
    background-color: var(--palette-background-neutral-300, #F9F9F9) !important;

    & div:has(label) {
      color: var(--palette-text-neutral, #636363) !important;
    }
  }

  &:not(:global(.mia-platform-input-group-wrapper-disabled)) input:has(+ :global(.mia-platform-input-group-addon):hover .inputAddonCheckbox) {
    border-inline-end-width: 1px !important;
    border-inline-end-style: solid !important;
    border-inline-end-color: var(--palette-text-primary-subtle, #1890FF) !important;
  }

  &:not(:global(.mia-platform-input-group-wrapper-disabled)) :global(.mia-platform-input-group-addon):hover:has(.inputAddonCheckbox) {

    & :global(.mia-platform-checkbox-checked) :global(.mia-platform-checkbox-inner) {
      background-color: var(--palette-text-primary-subtle, #1890FF);
    }

    & :global(.mia-platform-checkbox-inner) {
      border-color: var(--palette-text-primary-subtle, #1890FF);
    }

    border-color: var(--palette-text-primary-subtle, #1890FF) !important;
    & + input {
      border-inline-start-width: 1px !important;
      border-inline-start-style: solid !important;
      border-inline-start-color: var(--palette-text-primary-subtle, #1890FF) !important;
    }

    & div:has(label) {
        color: var(--palette-text-primary-subtle, #1890FF);
    }
  }
}

.inputAddonCheckbox {}

.inputAddonSelect {
  &:hover :global(.mia-platform-select-selection-item) {
    color: var(--palette-text-primary-subtle, #1890FF);
  }
  & :global(.mia-platform-select-open) :global(.mia-platform-select-selection-item) {
    color: var(--palette-text-primary-bold, #004AAA);
  }

  & :global(.mia-platform-select-selector) {
    padding-left: 8px !important;
    padding-right: calc(8px + 12px + 8px) !important;
    border: none !important;
    box-shadow: none !important;
  }
  & :global(.mia-platform-select-selection-placeholder) {
    padding-inline-end: 0 !important;
  }
  & :global(.mia-platform-select-selection-item) {
    padding-inline-end: 0 !important;
  }

  & :global(.mia-platform-select-arrow) {
    inset-inline-end: calc(8px - 1px);
  }
}
