.badge {
  display: flex;
  gap: var(--spacing-gap-lg, 16px);
  align-items: center;
  width: 100%;
  max-width: inherit;
  padding: var(--spacing-padding-lg, 16px);
  background: var(--Grey-200, #F2F2F2);
  border-radius: var(--shape-border-radius-lg, 8px);

  & .icon {
    width: var(--shape-size-2xl, 48px);
    height: var(--shape-size-2xl, 48px);
    flex-shrink: 0;
  }

  & .titleWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-xs, 4px);
    flex-shrink: 1;
    overflow: hidden;

    & .title {
      display: flex;
      align-items: center;
      gap: var(--spacing-gap-sm, 8px);
    }
  }

  & .extra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.tooltip {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}
