.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-gap-xs, 4) * 1px);
}

/* TODO: add 12px padding to theme */
.buttonSm {
  padding-top: calc(var(--spacing-padding-xs, 4) * 1px - 1px) !important;
  padding-right: calc((var(--spacing-padding-xs, 4) + var(--spacing-padding-sm, 8)) * 1px - 1px) !important;
  padding-bottom: calc(var(--spacing-padding-xs, 4) * 1px - 1px) !important;
  padding-left: calc((var(--spacing-padding-xs, 4) + var(--spacing-padding-sm, 8)) * 1px - 1px) !important;
}

.buttonSmIconOnly {
  padding: calc(var(--spacing-padding-xs, 4) * 1px - 1px) !important;
}

.buttonMd {
  padding-top: calc(var(--spacing-padding-sm, 8) * 1px - 1px) !important;
  padding-right: calc((var(--spacing-padding-xs, 4) + var(--spacing-padding-sm, 8)) * 1px - 1px) !important;
  padding-bottom: calc(var(--spacing-padding-sm, 8) * 1px - 1px) !important;
  padding-left: calc((var(--spacing-padding-xs, 4) + var(--spacing-padding-sm, 8)) * 1px - 1px) !important;
}

.buttonMdIconOnly {
  padding: calc(var(--spacing-padding-sm, 8) * 1px - 1px) !important;
}

.buttonLg {
  height: calc(var(--shape-size-4xl, 48) * 1px) !important;
  padding: calc(var(--spacing-padding-md, 16) * 1px - 1px) !important;
}

.buttonGhost {
  border-color: transparent !important;
  background-color: transparent;
}

.buttonText {
  padding: 0 calc(var(--spacing-padding-xs, 4) * 1px);
}
