.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.buttonSm {
  padding: 4px 12px !important;
}

.buttonMd {
  padding: 8px 12px !important;
}

.buttonLg {
  height: 48px !important;
  padding: 16px !important;
}

.buttonGhost {
  border-color: transparent !important;
  background-color: transparent;
}

.buttonText {
  padding: 0 4px;
  line-height: 1;
}
