.radio {
  .radioContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-sm, 8px);
  }

  .label {
  }

  .description {
  }

  :global(.mia-platform-radio-wrapper) {
    align-items: flex-start;
    &:global(.mia-platform-radio-wrapper-checked):not(:global(.mia-platform-radio-wrapper-disabled))
    {
      :global(.mia-platform-radio-inner) {
        border-color: var(--palette-action-primary-default, #1261e4);
        background-color: white;
        &::after {
          background-color: var(--palette-action-primary-default, #1261e4);
        }
      }
    }
    &:hover:not(:global(.mia-platform-radio-wrapper-disabled)) {
      :global(.mia-platform-radio-inner) {
        border-color: var(--palette-action-primary-hover, #1890FF);
      }
    }
  }
  
  /* disable */
  :global(.mia-platform-radio-wrapper-disabled) {
    :global(.mia-platform-typography) {
      color: var(--palette-text-neutral-subtler, #ACACAC);
    }
    :global(.mia-platform-radio-inner) {
      background-color: var(--palette-action-disabled-main, #F2F2F2);
      border-color: var(--palette-action-disabled-bolder, #CDCDCD);
    }
  }

  :global(span.mia-platform-radio) {
    align-self: unset !important;
    & + * {
      padding-inline-start: var(--spacing-gap-sm, 8px);
      padding-inline-end: var(--spacing-gap-sm, 8px);
    }
  }
}
