.segmented {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  user-select: none;
  width: 100%;
  margin: 0;
  gap: 2px; /* does not change with theme */
  padding: 2px; /* does not change with theme */
  border-radius: calc(var(--shape-border-radius-md, 4) * 1px);
  background-color: color-mix(in srgb, var(--palette-common-grey-300, #e6e6e6), transparent 50%);
}

.segmentedOption {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: calc(var(--spacing-gap-xs, 4) * 1px);
  padding: calc(var(--spacing-padding-sm, 8) * 1px);
  min-width: calc(var(--shape-size-5xl, 64) * 1px);
  border-radius: calc(var(--shape-border-radius-md, 4) * 1px);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.segmentedOption:hover {
  background-color: color-mix(in srgb, var(--palette-common-grey-600, #aaaaaa), transparent 75%);
}

.segmentedOption.selected {
  background-color: var(--palette-common-white, #ffffff);
  box-shadow:
    0 1px 2px 0 rgba(0,0,0,.03), 
    0 1px 6px -1px rgba(0,0,0,.02), 
    0 2px 4px 0 rgba(0,0,0,.02);
}

.segmentedOption.vertical {
  flex-direction: column;
}

.segmentedOption.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
