.table {
  :global([scope=col]) {
    padding-top: calc(var(--spacing-padding-sm, 8) * 1px) !important;
    padding-bottom: calc(var(--spacing-padding-sm, 8) * 1px) !important;
  }

  :global(.info>td) {
    background-color: lightblue; /* TODO use theme var */
  }
  :global(.info:hover>td) {
    background-color: blue !important; /* TODO use theme var */
  }

  :global(.success>td) {
    background-color: lightgreen; /* TODO use theme var */
  }
  :global(.success:hover>td) {
    background-color: green !important; /* TODO use theme var */
  }

  :global(.warning>td) {
    background-color: yellow; /* TODO use theme var */
  }
  :global(.warning:hover>td) {
    background-color: orange !important; /* TODO use theme var */
  }

  :global(.error>td) {
    background-color: lightcoral; /* TODO use theme var */
  }
  :global(.error:hover>td) {
    background-color: red !important; /* TODO use theme var */
  }
}
